#titleItem{

    text-align: center;

    font-size: 52px;
    
    color:white;
    
    line-height: 150px;
    
    font-family: 'Courier New', Courier, monospace;
    
    
}
    
    .navButton{
        background-color: white;
        color: black;
        height: 50px;
        width: 70px;
    }
    
    .navButton:hover{
        background-color: black;
        color: white;
        
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

    body{
        background-image: url('Spacstation.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;

        position: absolute;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        z-index: -99;
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        

    }
